{% extends 'index.html' %}
{% block head %}
<style>
</style>
<title>Donos</title>
{% endblock head %}
{% block body %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

<div class="mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-xs-8 col-xs-offset-2 mt-5">
                <form action="/search" method="get" id="searchForm" class="input-group mt-5">
                    <div class="search_f">
                        <select name="search_param" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>O+</option>
                            <option>O-</option>
                        </select>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </form><!-- end form -->
            </div><!-- end col-xs-8 -->
        </div><!-- end row -->
        <div class="row">
            {% for results in search_results %}
            <div class="col-md-4">
                <div class="card my-3 mx-5 d-flex justify-content-center" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Donor Name : {{ results.full_name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email : {{results.email}}</li>
                        <li class="list-group-item">Blood Group : {{ results.blood_grp }}</li>
                        <li class="list-group-item">Organ : {{ results.organ}}</li>
                        <li class="list-group-item">Phone Number : {{ results.number }}</li>
                        <li class="list-group-item">Address : {{ results.address }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div><!-- end row -->
        <div class="row">
            {% for donor in donors %}
            <div class="col-md-4">
                <div class="card my-3 mx-5 d-flex justify-content-center" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Donor Name : {{ donor.full_name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email : {{donor.email}}</li>
                        <li class="list-group-item">Blood Group : {{ donor.blood_grp }}</li>
                        <li class="list-group-item">Organ : {{ donor.organ}}</li>
                        <li class="list-group-item">Phone Number : {{ donor.number }}</li>
                        <li class="list-group-item">Address : {{ donor.address }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</div>

{% endblock body %}
